<div class="container">
    <div class="row">
        <div class="jumbotron col-sm-9" *ngIf="personal">
            <h1>{{personal.name}}</h1>
            <h2>{{personal.summary}}</h2>
        </div>
        <contact class="col-sm-3"></contact>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <position [style.ul]="'list-unstyled'"
                      [title]="'Currently Enjoying Employment'"
                      [positions]="highlightPosition"></position>
            <div class="well well-sm">
                <h3>Full Resume/Qualifications</h3>
                <button type="button" class="btn btn-default">
                    <a href="/assets/resume-burroughs-david-shane-June-2016.txt" download>Download</a>
                </button>
            </div>
        </div>
        <div class="col-sm-6 well well-sm">
            <button class="col-sm-3 btn btn-default" *ngFor="#skill of skillSummary" (click)="setSelectedSkill(skill)">
                {{skill.name}}
            </button>
            <skill-detail [skill]="selectedSkill"></skill-detail>
        </div>
    </div>
</div>