<div class="container" *ngIf="contact">
    <div class="row">
        <p><span class="glyphicon glyphicon-envelope"> {{contact.email}}</span></p>
        <p><span class="glyphicon glyphicon-phone"> {{contact.phone}}</span></p>
        <ul *ngFor="#link of contact.links">
            <li class="list-unstyled">
                    <span class="glyphicon glyphicon-fire">
                        <a target="_blank" href="{{link.hyperlink}}">{{link.display}}</a>
                    </span>
            </li>
        </ul>
        <img class="img-rounded" src="http://i.imgur.com/FgymfMN.jpg" alt="headshot">
    </div>
</div>
