<div class="container" *ngIf="about">
    <div class="row">
        <p>Name: {{about.name}}</p>
        <p>Email: {{about.email}}</p>
        <div class="social">
            <ul>
                <li *ngFor="#link of about.links">
                    <h2><a href="{{link.hyperlink}}">{{link.display}}</a></h2>
                </li>
            </ul>
        </div>
    </div>
    <!--<img src="../../../assets/img/headshot.jpg" class="img-circle" alt="headshot" width="300" height="256">-->
    <div class="row">
        <h3>Hobbies</h3>
        <ul>
            <li *ngFor="#hobby of about.hobbies">
                <p>{{hobby.name}}</p>
                <p>{{hobby.description}}</p>
            </li>
        </ul>
    </div>
</div>
