<footer class="footer p-2 bg-dark">
    <div class="container">
        <div class="row text-white">
            <div class="col-sm-6">
                <dl>
                    <dt>Email</dt>
                    <dd><a href="mailto:{{contact.email}}">{{contact.email}}</a></dd>
                    <dt>Phone</dt>
                    <dd>{{contact.phone}}</dd>
                </dl>
                <ul class="list-inline">
                    <li class="list-inline-item px-2" *ngFor="let link of contact.links">
                        <a target="_blank" href="{{link.hyperlink}}">{{link.display}}</a>
                    </li>
                </ul>
            </div>
            <p class="col-sm-6 text-right">© 2018 dsburroughs.com ALL RIGHTS RESERVED</p>
        </div>
    </div>
</footer>