li.skill-detail-reduced-margin {
    background-color: lightblue;
    width: 10%;
    height: 10px;
}

.jumbotron{
    background: #000 url("https://c1.staticflickr.com/1/487/19461509048_2a331ec62a_b.jpg") no-repeat center center;
    background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    -webkit-background-size: 100% 100%;
    -o-background-size: 100% 100%;
    color: #FFF;
}

.overlay{
    background: rgba(0,0,0,0.5);
}
