<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
    <a class="navbar-brand" routerLink="/">SB</a>
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/skills" routerLinkActive="active">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/experience" routerLinkActive="active">Experience</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/personal" routerLinkActive="active">Personal</a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>

<footer class="p-2 bg-inverse">
    <p class="text-white">© 2017 dsburroughs.com ALL RIGHTS RESERVED</p>
</footer>

