<div class="panel panel-default">
    <div class="panel-heading">{{title}}</div>
    <div class="panel-body">
        <div *ngFor="#position of positions">
            <div class="well">
                <h3>{{position.title}}</h3>
                <h4>{{position.organization}}</h4>
                <h5>{{position.startDate}} - {{position.endDate}}</h5>
                <p>{{position.description}}</p>
                <ul>
                    <li *ngFor="#highlight of position.highlights">{{highlight}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
