<div>

  <div class="jumbotron" *ngIf="about">
    <div class="text-center">
      <h1 class="py-4">{{about.name}}</h1>
      <p class="lead p-lg-5 p-md-3">{{about.tagline}}</p>
    </div>
  </div>

  <div class="my-5">

    <div class="container-fluid py-5">
      <about class="row"></about>
    </div>

    <div class="container py-5">
      <div class="row">

        <div class="col-xl-6 py-5">
          <div class="container-fluid row pb-3">
            <h2 class="col-sm-12">Experiences</h2>
            <button type="button" class="col-sm-12 btn btn-outline-dark "><a href="/experiences">All Experiences</a></button>
          </div>
          <experience [experience]="experienceHighlight"></experience>
        </div>

        <div class="col-xl-6 py-5">
          <div class="container-fluid row pb-3">
            <h2 class="col-sm-12">Skills</h2>
            <button type="button" class="col-sm-12 btn btn-outline-dark"><a href="/skills">All Skills</a></button>
          </div>
          <div class="container-fluid row">
            <div class="col-xl-6 col-md-4" *ngFor="let skill of skillHighlights">
              <skill-detail [skill]='skill'></skill-detail>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>

</div>
