<div class="container mt-5">
    <div class="row">
        <div class="col-sm-2">
            <h2>Skills</h2>
            <ul class="list-group">
                <li class="list-group-item" *ngFor="let skill of skills"
                    [class.active]="skill === selectedSkill"
                    (click)="onSelect(skill)">
                    <span>{{skill.experience}}</span> {{skill.name}}
                </li>
            </ul>
        </div>
        <div class="col-sm-10">
            <skill-detail [skill]="selectedSkill"></skill-detail>
        </div>
    </div>
</div>