<div style="width:21cm; height:29.7cm;">
  <h1>{{about.name}}</h1>
  <p>email: {{contact.email}}</p>
  <!--<p>phone: {{summary.name.phone}}</p>-->
  <p>web: dsburroughs.com</p>

  <h2>Experience</h2>
  <div *ngFor="let position of experiences">
    <p>{{position.title}}</p>
    <p>{{position.organization}}</p>
    <p>{{position.startDate}} - {{position.endDate}}</p>
    <p>{{position.description}}</p>
    <ul>
      <li *ngFor="let highlight of position.highlights">{{highlight}}</li>
    </ul>
  </div>
</div>
