$green: #5bc86f !default;

@import '~bootstrap/scss/bootstrap';

.jumbotron {
  background-color: $green;
}

.card-header, .card-footer {
  background-color: $green;
}

.btn-group{
  background-color: $green;
}

a {
  color: $green;
}

a:hover, a:focus{
  color: lighten($green, 15.0);
}

.center-cropped {
  width: 100%;
  height: 250px;
  background-position: center center;
  background-repeat: no-repeat;
}
